$primary_background_color: #E6E8E7;
$todo_background_color: white;
$list_background_color: #F1F3F2;
$primary_text_color: black;
$border_color: #AAB3C2;
$button_color: #81CFD1;

$inprog_color: #DFD67B;
$completed_color: #80D087;
$error_color: #DA6667;

$select_color: #bfd9bf;

$font: Helvetica;
