@import "partials/variables";
@import "partials/mixins";

.button_wrap {
  @media (min-width: 700px) {
    position: absolute;
    top: 0;
    right: 0;
  }
  button {
    @include button;
    @include format_text($size: 1rem, $color: white);
    width: 100px;
    height: 2rem;
  }
}
