@import "partials/variables";
@import "partials/mixins";

.app_title {
  @include center;
  text-align: center;
  position: relative;
  h1 {
    @include format_text(5rem, white, $title_font);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    margin: 1rem;
  }
}
